<html lang="en" ng-app="plslikeApp">

    <head>
        <meta charset="utf-8">
        <title>MIT Market</title>

        <!-- style -->
        <link rel="stylesheet" href="assets/css/materialize.css">
        <link rel="stylesheet" href="assets/css/style.css">

    </head>

    <!-- view -->
    <body>
        <div ng-view></div>
    </body>

    <!-- angular -->
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-route.min.js"></script>
    <script src="/plslike-app.js"></script>
    <script src="/controllers/splash-controller.js"></script>

</html>
